[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "0.68.1"
sqlalchemy = "1.4.23"
bcrypt = "*"
pyjwt = "*"
psycopg2-binary = "*"
pydantic = "1.8.2"
pydantic_sqlalchemy = "0.0.9"

[dev-packages]
pytest = "*"
uvicorn = "*"
alembic = "*"

[requires]
python_version = "3.8"
